<h1>Edit Student</h1>

<%= form_with model: @student do |form| %>
 <div>
     <%= form.label :first_name %><br>
     <%= form.text_field :first_name %>
     
     <% @student.errors.full_messages_for(:first_name).each do |message| %>
        <div><%= message %></div>
     <% end %>
 </div>
 <div>
 	 <%= form.label :last_name %><br>
 	 <%= form.text_field :last_name %>

     <% @student.errors.full_messages_for(:last_name).each do |message| %>
      <div><%= message %></div>
     <% end %>
 </div>
 <div>
 	 <%= form.label :email %><br>
 	 <%= form.email_field :email %>

     <% @student.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
     <% end %>
 </div><br>
 <div>
 	<%= form.submit %>
 </div>
<% end %>