<p><%= notice %></p>
<h1>Student Details</h1>

<p><strong>First Name : <%= @student.first_name %></strong></p>
<p><strong>Last Name : <%= @student.last_name %></strong></p>
<p><strong>Email : <%= @student.email %></strong></p>

<%= link_to 'Back', students_path %> |
<%= link_to 'Edit', edit_student_path(@student) %>
